<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">
      	<div class="sidebar-logo">
			<a routerLink="/dashboard">
				<img src="./assets/imgs/rabiya-foundation.jpg" alt="Rabiya Foundation" class="img-fluid">
			</a>
      	</div>
		<ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
			<li nz-menu-item nz-tooltip nzPlacement="right" nzMatchRouter>
				<a routerLink="/dashboard">
					<i nz-icon nzType="dashboard"></i>
					<span>Dashboard</span>
				</a>
			</li>
			<li nz-submenu nzOpen nzTitle="User Management" nzIcon="user">
				<ul>
					<li nz-menu-item nzMatchRouter>
						<a routerLink="/users_admin">Admin Users</a>
					</li>
					<li nz-menu-item nzMatchRouter>
						<a routerLink="/users_donor">Donor Users</a>
					</li>
					<li nz-menu-item nzMatchRouter>
						<a routerLink="/users_dealer">Dealer Users</a>
					</li>
					<li nz-menu-item nzMatchRouter>
						<a routerLink="/users_recipient">Recipient Users</a>
					</li>
				</ul>
			</li>
			<li nz-submenu nzOpen nzTitle="Reports" nzIcon="file-search">
				<ul>
					<li nz-menu-item nzMatchRouter>
						<a routerLink="/report/dealer">Dealer Report</a>
					</li>
					<li nz-menu-item nzMatchRouter>
						<a routerLink="/report/donor">Donor Report</a>
					</li>
					<li nz-menu-item nzMatchRouter>
						<a routerLink="/report/recipient">Recipient Report</a>
					</li>
				</ul>
			</li>
			<li nz-submenu nzOpen nzTitle="Transactions" nzIcon="file-search">
				<ul>
					<li nz-menu-item nzMatchRouter>
						<a routerLink="/disbursements">Disbursements</a>
					</li>
				</ul>
			</li>
			<li nz-submenu nzOpen nzTitle="Configuration" nzIcon="copy">
				<ul>
					<li nz-menu-item nzMatchRouter>
						<a routerLink="/lookups">Lookups</a>
					</li>
					<li nz-menu-item nzMatchRouter>
						<a routerLink="/locations">Locations</a>
					</li>
				</ul>
			</li>
			<li nz-menu-item nz-tooltip nzPlacement="right" nzMatchRouter>
				<a (click)="logout()">
					<i nz-icon nzType="logout"></i>
					<span>Logout</span>
				</a>
			</li>
		</ul>
    </nz-sider>
    <nz-layout>
		<nz-header>
			<div class="app-header">
				<div>
					<span class="header-trigger" (click)="isCollapsed = !isCollapsed">
						<i class="trigger"
							nz-icon
							[nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
						></i>
					</span>
				</div>
				<a nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click" nzPlacement="bottomRight">
					<nz-avatar nzIcon="user" nzSrc="https://api.adorable.io/avatars/285/daas-avatar.png"></nz-avatar>
					{{ user?.first_name }} {{ user?.last_name }}
					<i nz-icon nzType="down"></i>
				</a>
				<nz-dropdown-menu #menu="nzDropdownMenu">
					<ul nz-menu nzSelectable>
						<li nz-menu-item nzPlacement="right">
							<a (click)="logout()">
								<i nz-icon nzType="logout"></i> Logout
							</a>
						</li>
					</ul>
				</nz-dropdown-menu>
			</div>
		</nz-header>
		<nz-content>
			<div class="inner-content">
				<ng-content></ng-content>
			</div>
		</nz-content>
    </nz-layout>
</nz-layout>
  