<app-layout>
    <nz-page-header nzTitle="">
		<nz-breadcrumb nz-page-header-breadcrumb>
			<nz-breadcrumb-item><a routerLink="/dashboard"><i nz-icon nzType="home"></i></a></nz-breadcrumb-item>
			<nz-breadcrumb-item>Dealer Users</nz-breadcrumb-item>
		</nz-breadcrumb>
    </nz-page-header>

    <div nz-row class="mb-1">
        <div nz-col nzSpan="6">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                <input type="text" nz-input placeholder="Search user by CNIC" [(ngModel)]="searchValue">
            </nz-input-group>
            <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSearch (click)="search()"><i nz-icon nzType="search"></i></button>
                <button nz-button nzType="default" (click)="reset()" nz-tooltip nzTooltipTitle="Reset" nzTooltipPlacement="top"><i nz-icon nzType="reload"></i></button>
            </ng-template>
        </div>
		<div nz-col nzSpan="18" class="text-right">
			<!-- <button nz-button [nzType]="'primary'" (click)="openDrawer('add')"><i nz-icon [nzType]="'plus'"></i> Add New User</button> -->
		</div>
	</div>

    <div nz-row class="mb-3" nzGutter="24">
		<div nz-col nzXs="24" nzSm="24" nzLg="24">
            <!-- <nz-card> -->
                <nz-spin [nzSpinning]="isLoading">
                    <nz-table #basicTable [nzData]="users" nzSize="small" nzPageSize="25" [nzBordered]="true">
                        <thead nzShowSizeChanger nzShowPagination>
                            <tr>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Email</th>
                                <th>Phone Primary</th>
                                <th>CNIC</th>
                                <th>Age (Gender)</th>
                                <th>Active</th>
                                <th nzWidth="100px">Profile Image</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of basicTable.data">
                            <td>{{data?.first_name}}</td>
                            <td>{{data?.last_name}}</td>
                            <td>{{data?.email}}</td>
                            <td>{{data?.phone_primary}}</td>
                            <td>{{data?.cnic_no}}</td>
                            <td>{{data?.age}} ({{data?.gender}})</td>
                            <td>
                                <nz-tag *ngIf="data?.is_active" [nzColor]="'success'">YES</nz-tag>
                                <nz-tag *ngIf="!data?.is_active" [nzColor]="'error'">NO</nz-tag>
                            </td>
                            <td><img *ngIf="data?.profile_image" width="75" height="50" [src]="data?.profile_image" /></td>
                            <td>
                                <a (click)="openDrawer('edit', data)">Edit</a>
                                <nz-divider nzType="vertical"></nz-divider>
                                <a
                                    nz-popconfirm
                                    nzPopconfirmTitle="Are you sure?"
                                    nzPopconfirmPlacement="bottom"
                                    (nzOnConfirm)="delete(data)"
                                    nzOkText="Yes">
                                    Delete
                                </a>
                            </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </nz-spin>
            <!-- </nz-card> -->
        </div>
    </div>

    <nz-drawer
      [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
      [nzMaskClosable]="false"
      [nzWidth]="600"
      [nzVisible]="visible"
      [nzTitle]="formTitle"
      (nzOnClose)="closeDrawer()"
    >
        <form nz-form [formGroup]="cotForm" (ngSubmit)="submitForm()" *ngIf="formAction=='add'">
            <div nz-row nzGutter="8">
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="first_name">First Name</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="First Name is required!">
                            <input type="text" nz-input formControlName="first_name" placeholder="First Name *">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="last_name">Last Name</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Last Name is required!">
                            <input type="text" nz-input formControlName="last_name" placeholder="Last Name *">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Email</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Email is required!">
                            <input type="email" nz-input formControlName="email" placeholder="Email *">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="cnic_no">CNIC No.</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="CNIC# is required!">
                            <input type="text" nz-input formControlName="cnic_no" placeholder="CNIC# *">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="age">Age</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Age is required!">
                            <input type="number" nz-input formControlName="age" placeholder="Age *">
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="cnic_no">Gender</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Gender is required!">
                            <input type="text" nz-input formControlName="gender" placeholder="Gender *">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="cnic_no">Phone 1</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Primary Phone is required!">
                            <input type="text" nz-input formControlName="phone_primary" placeholder="Phone (primary) *">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="phone_secondary">Phone 2</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Secondary Phone is required!">
                            <input type="text" nz-input formControlName="phone_secondary" placeholder="Phone (secondary) *">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="gender">Gender</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Please select Gender!">
                            <nz-select formControlName="gender" [nzPlaceHolder]="'Select Gender'">
                                <nz-option *ngFor="let g of genders" [nzLabel]="g" [nzValue]="g"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="password">Password</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Password is required!">
                            <input type="password" nz-input formControlName="password" placeholder="Password *">
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <div class="drawer-footer">
				<button type="button" (click)="closeDrawer()" class="ant-btn" style="margin-right: 8px;"><span>Cancel</span></button>
				<button nz-button [nzType]="'primary'" [disabled]="cotForm.invalid" [nzLoading]="isLoading"><span>Save</span></button>
			</div>
        </form>
        <form nz-form [formGroup]="cotForm2" (ngSubmit)="editUser()" *ngIf="formAction=='edit'">
            <div nz-row nzGutter="8">                
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-control [nzSm]="18" [nzXs]="24">
                            <input type="hidden" nz-input formControlName="id">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="first_name">First Name</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="First Name is required!">
                            <input type="text" nz-input formControlName="first_name" placeholder="First Name *">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="last_name">Last Name</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Last Name is required!">
                            <input type="text" nz-input formControlName="last_name" placeholder="Last Name *">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Email</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Email is required!">
                            <input type="email" nz-input formControlName="email" placeholder="Email *" [readonly]="true" >
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="cnic_no">CNIC No.</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="CNIC# is required!">
                            <input type="text" nz-input formControlName="cnic_no" placeholder="CNIC# *" [readonly]="true">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="age">Age</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Age is required!">
                            <input type="number" nz-input formControlName="age" placeholder="Age *">
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="cnic_no">Gender</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Gender is required!">
                            <input type="text" nz-input formControlName="gender" placeholder="Gender *">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="cnic_no">Phone 1</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Primary Phone is required!">
                            <input type="text" nz-input formControlName="phone_primary" placeholder="Phone (primary) *" [readonly]="true">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="phone_secondary">Phone 2</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Secondary Phone is required!">
                            <input type="text" nz-input formControlName="phone_secondary" placeholder="Phone (secondary) *">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="gender">Gender</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Please select Gender!">
                            <nz-select formControlName="gender" [nzPlaceHolder]="'Select Gender'">
                                <nz-option *ngFor="let g of genders" [nzLabel]="g" [nzValue]="g"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="is_active">Active</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Select Active State!">
                          <nz-select formControlName="is_active" [nzPlaceHolder]="'Select Active State'">
                              <nz-option *ngFor="let p of active_states" [nzLabel]="p.label" [nzValue]="p.value"></nz-option>
                          </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="profile_image">Profile image</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24">
                            <nz-upload class="avatar-uploader"
                                nzAction="{{imageUploadURL}}"
                                nzName="file"
                                nzListType="picture-card"
                                [nzData]="uploadProfileCategory"
                                [nzShowUploadList]="false"
                                [nzBeforeUpload]="beforeUpload"
                                (nzChange)="handleChange($event)">
                                <ng-container *ngIf="!avatarUrl">
                                <i class="anticon anticon-plus"></i>
                                <div class="ant-upload-text">Upload</div>
                                </ng-container>
                                <img width="100" height="100" *ngIf="avatarUrl" [src]="avatarUrl" class="avatar">
                            </nz-upload>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzXs="24" nzMd="24">
                    <nz-divider nzType="horizontal"></nz-divider>
                    <h3>Location </h3>
                    <nz-divider nzType="horizontal"></nz-divider>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="location_id">Location</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Select Location!">
                          <nz-select formControlName="location_id" [nzPlaceHolder]="'Select Location'">
                              <nz-option *ngFor="let l of locations" [nzLabel]="l.name" [nzValue]="l.id"></nz-option>
                          </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>                  

                <div nz-col nzXs="24" nzMd="24">
                    <nz-divider nzType="horizontal"></nz-divider>
                    <h3>Address </h3>
                    <nz-divider nzType="horizontal"></nz-divider>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-control [nzSm]="18" [nzXs]="24">
                            <input type="hidden" nz-input formControlName="address_id">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="address_line_1">Address Line 1</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Address is required!">
                            <input type="text" nz-input formControlName="address_line_1" placeholder="Address *">
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="address_line_2">Address Line 2</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24">
                            <input type="text" nz-input formControlName="address_line_2" placeholder="Address Line 2 ">
                        </nz-form-control> 
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="address_line_3">Address Line 3</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" >
                            <input type="text" nz-input formControlName="address_line_3" placeholder="Address Line 3 ">
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="area">Area</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Area is required!">
                            <input type="text" nz-input formControlName="area" placeholder="Area *">
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="city">City</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="City is required!">
                            <input type="text" nz-input formControlName="city" placeholder="City *">
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="state">State</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="State is required!">
                            <input type="text" nz-input formControlName="state" placeholder="State *">
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="country">Country</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Country is required!">
                            <input type="text" nz-input formControlName="country" placeholder="Country *">
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="near_by_location">Near By Location</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Near By Location!">
                            <input type="text" nz-input formControlName="near_by_location" placeholder="Near By Location ">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="geocoordinates">Geocoordinates</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Geocoordinates is required!">
                            <input type="text" nz-input formControlName="geocoordinates" placeholder="Geocoordinates ">
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <div class="drawer-footer">
				<button type="button" (click)="closeDrawer()" class="ant-btn" style="margin-right: 8px;"><span>Cancel</span></button>
				<button nz-button [nzType]="'primary'" [disabled]="cotForm2.invalid" [nzLoading]="isLoading"><span>Save</span></button>
			</div>
        </form>
    </nz-drawer>

</app-layout>
