<app-layout>
    <nz-page-header nzTitle="">
		<nz-breadcrumb nz-page-header-breadcrumb>
			<nz-breadcrumb-item><a routerLink="/dashboard"><i nz-icon nzType="home"></i></a></nz-breadcrumb-item>
			<nz-breadcrumb-item>Recipient Users</nz-breadcrumb-item>
		</nz-breadcrumb>
    </nz-page-header>

    <div nz-row class="mb-1">
        <div nz-col nzSpan="6">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                <input type="text" nz-input placeholder="Search user by CNIC" [(ngModel)]="searchValue">
            </nz-input-group>
            <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSearch (click)="search()"><i nz-icon nzType="search"></i></button>
                <button nz-button nzType="default" (click)="reset()" nz-tooltip nzTooltipTitle="Reset" nzTooltipPlacement="top"><i nz-icon nzType="reload"></i></button>
            </ng-template>
        </div>
		<div nz-col nzSpan="18" class="text-right">
			<!-- <button nz-button [nzType]="'primary'" (click)="openDrawer('add')"><i nz-icon [nzType]="'plus'"></i> Add New User</button> -->
		</div>
	</div>

    <div nz-row class="mb-3" nzGutter="24">
		<div nz-col nzXs="24" nzSm="24" nzLg="24">
            <!-- <nz-card> -->
                <nz-spin [nzSpinning]="isLoading">
                    <nz-table #basicTable [nzData]="users" nzSize="small" nzPageSize="25" [nzBordered]="true">
                        <thead nzShowSizeChanger nzShowPagination>
                            <tr>
                                <th>ID</th>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Phone Primary</th>
                                <th>CNIC</th>
                                <th>Age (Gender)</th>
                                <th>Amount</th>
                                <th>Active</th>
                                <th>Deleted</th>
                                <th nzWidth="100px">Profile Image</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of basicTable.data">
                            <td>{{data?.id}}</td>
                            <td>{{data?.first_name}}</td>
                            <td>{{data?.last_name}}</td>
                            <td>{{data?.phone_primary}}</td>
                            <td>{{data?.cnic_no}}</td>
                            <td>{{data?.age}} ({{data?.gender}})</td>
                            <td>
                                <div *ngFor="let lkp of data?.categories">
                                    <div *ngFor="let option of lkp?.options">
                                    <p style="margin:0;" *ngIf="option.lookup_slug=='BUDGET'">
                                        {{lookups[lkp.lookup_parent]}} : {{option.value}}
                                    </p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <nz-tag *ngIf="data?.is_active" [nzColor]="'success'">YES</nz-tag>
                                <nz-tag *ngIf="!data?.is_active" [nzColor]="'error'">NO</nz-tag>
                            </td>
                            <td>
                                <nz-tag *ngIf="data?.deleted" [nzColor]="'success'">YES</nz-tag>
                                <nz-tag *ngIf="!data?.deleted" [nzColor]="'error'">NO</nz-tag>
                            </td>
                            <td><img (click)="viewImage(data?.profile_image)" *ngIf="data?.profile_image" width="75" height="50" [src]="data?.profile_image" /></td>
                            <td>
                                <a (click)="openDrawer('edit', data)">Edit</a>
                                <nz-divider nzType="vertical"></nz-divider>
                                <a
                                    nz-popconfirm
                                    nzPopconfirmTitle="Are you sure?"
                                    nzPopconfirmPlacement="bottom"
                                    (nzOnConfirm)="delete(data)"
                                    nzOkText="Yes">
                                    Delete
                                </a>
                            </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </nz-spin>
            <!-- </nz-card> -->
        </div>
    </div>

    <nz-drawer
      [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
      [nzMaskClosable]="false"
      [nzWidth]="600"
      [nzVisible]="visible"
      [nzTitle]="formTitle"
      (nzOnClose)="closeDrawer()"      
    >
        <form nz-form (ngSubmit)="submitLookupEnableForm()" *ngIf="formAction=='lookup'">
            <div nz-row nzGutter="8">                
                <h2><b>{{lookupData.lookup_label}}:</b></h2>
                <div nz-col nzXs="24" nzMd="24" *ngFor="let opt of lookupData.options">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" >{{opt.lookup_label}}</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" *ngIf="opt.lookup_slug != 'ATTACHMENT'">
                            <input [(ngModel)]="opt.value" name="opt.id">
                        </nz-form-control>
                        <div *ngIf="opt.lookup_slug == 'ATTACHMENT'" style="display: inline-flex;">
                            <nz-form-control [nzSm]="18" [nzXs]="24">
                                <nz-upload
                                    nzAction="{{imageUploadURL}}"
                                    [nzData]="uploadLookupCategory"
                                    nzListType="picture-card"
                                    [(nzFileList)]="fileList"
                                    [nzShowButton]="fileList.length < 3"
                                    [nzPreview]="handlePreview"
                                    [nzBeforeUpload]="beforeUpload"
                                    (nzChange)="handleChange($event)">
                                
                                    <div>
                                    <i nz-icon nzType="plus"></i>
                                    <div style="margin-top: 8px">Upload</div>
                                    </div>
                                </nz-upload>
                                <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible = false">
                                    <ng-template #modalContent>
                                    <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
                                    </ng-template>
                                </nz-modal>
                            </nz-form-control>
                        </div>
                    </nz-form-item>
                </div>
            </div>
            <button nz-button [nzType]="'primary'" [nzLoading]="isLoading"><span>Save</span></button>
        </form>


        <form nz-form [formGroup]="cotForm2" (ngSubmit)="editUser()" *ngIf="formAction=='edit'">
            <div nz-row nzGutter="8">                
                <h2><b>General Info:</b></h2>
                <div nz-col>
                    <nz-form-item>
                        <nz-form-control>
                            <input type="hidden" nz-input formControlName="id">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="first_name">First Name</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="First Name is required!">
                            <input type="text" nz-input formControlName="first_name" placeholder="First Name *">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="last_name">Last Name</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Last Name is required!">
                            <input type="text" nz-input formControlName="last_name" placeholder="Last Name *">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="cnic_no">CNIC No.</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="CNIC# is required!">
                            <input type="text" nz-input formControlName="cnic_no" placeholder="CNIC# *" [readonly]="true">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="age">Age</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Age is required!">
                            <input type="number" nz-input formControlName="age" placeholder="Age *">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="cnic_no">Phone 1</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Primary Phone is required!">
                            <input type="text" nz-input formControlName="phone_primary" placeholder="Phone (primary) *" [readonly]="true">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phone_secondary">Phone 2</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Secondary Phone is required!">
                            <input type="text" nz-input formControlName="phone_secondary" placeholder="Phone (secondary) *">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="gender">Gender</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Please select Gender!">
                            <nz-select formControlName="gender" [nzPlaceHolder]="'Select Gender'">
                                <nz-option *ngFor="let g of genders" [nzLabel]="g" [nzValue]="g"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="is_active">Active</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Select Active State!">
                          <nz-select formControlName="is_active" [nzPlaceHolder]="'Select Active State'">
                              <nz-option *ngFor="let p of active_states" [nzLabel]="p.label" [nzValue]="p.value"></nz-option>
                          </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="profile_image">Profile image</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24">
                            <nz-upload class="avatar-uploader"
                                nzAction="{{imageUploadURL}}"
                                nzName="file"
                                nzListType="picture-card"
                                [nzData]="uploadProfileCategory"
                                [nzShowUploadList]="false"
                                [nzBeforeUpload]="beforeUpload"
                                (nzChange)="handleChange($event)">
                                <ng-container *ngIf="!avatarUrl">
                                <i class="anticon anticon-plus"></i>
                                <div class="ant-upload-text">Upload</div>
                                </ng-container>
                                <img width="100" height="100" *ngIf="avatarUrl" [src]="avatarUrl" class="avatar">
                            </nz-upload>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzXs="24" nzMd="24">
                    <nz-divider nzType="horizontal"></nz-divider>
                    <h2><b>Location:</b></h2>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="location_id">Location</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Select Location!">
                          <nz-select formControlName="location_id" [nzPlaceHolder]="'Select Location'">
                              <nz-option *ngFor="let l of locations" [nzLabel]="l.name" [nzValue]="l.id"></nz-option>
                          </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>                  

                <div nz-col nzXs="24" nzMd="24">
                    <nz-divider nzType="horizontal"></nz-divider>
                    <h2><b>Address:</b></h2>
                </div>
                <div nz-col >
                    <nz-form-item>
                        <nz-form-control >
                            <input type="hidden" nz-input formControlName="address_id">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="address_line_1">Address Line 1</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Address is required!">
                            <input type="text" nz-input formControlName="address_line_1" placeholder="Address *">
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="address_line_2">Address Line 2</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24">
                            <input type="text" nz-input formControlName="address_line_2" placeholder="Address Line 2 ">
                        </nz-form-control> 
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="address_line_3">Address Line 3</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" >
                            <input type="text" nz-input formControlName="address_line_3" placeholder="Address Line 3 ">
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="area">Area</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Area is required!">
                            <input type="text" nz-input formControlName="area" placeholder="Area *">
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="city">City</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="City is required!">
                            <input type="text" nz-input formControlName="city" placeholder="City *">
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="state">State</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="State is required!">
                            <input type="text" nz-input formControlName="state" placeholder="State *">
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="country">Country</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Country is required!">
                            <input type="text" nz-input formControlName="country" placeholder="Country *">
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="near_by_location">Near By Location</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Near By Location!">
                            <input type="text" nz-input formControlName="near_by_location" placeholder="Near By Location ">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="geocoordinates">Geocoordinates</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Lat is required!">
                            <input type="text" nz-input formControlName="lat" placeholder="Latitude ">
                        </nz-form-control>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Long is required!">
                            <input type="text" nz-input formControlName="lng" placeholder="Longitude ">
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div *ngFor="let lkp of cotForm2.value.categories">
                    <nz-card style="width: 550px; margin-top: 10px; background-color: #cde6b3;" [nzHoverable]="true" nzTitle="{{lookups[lkp.lookup_parent]}}" [nzExtra]="editTemplate">
                        <div nz-col nzXs="24" nzMd="24" *ngFor="let opt of lkp.options">
                            <nz-form-item>
                                <nz-form-label [nzSm]="6" [nzXs]="24" >{{lookups[opt.lookup_option]}}</nz-form-label>
                                <nz-form-control [nzSm]="18" [nzXs]="24" *ngIf="opt.lookup_slug != 'ATTACHMENT'">
                                    <span>"{{opt.value}}"</span>
                                </nz-form-control>
                                <div *ngIf="opt.lookup_slug == 'ATTACHMENT'" style="display: inline-flex;">
                                    <div *ngFor="let img of opt.value" style="margin: 2px;">
                                        <img src="{{img}}" (click)="viewImage(img)" width="100" />
                                    </div>
                                </div>
                            </nz-form-item>    
                        </div>
                    </nz-card>
                    <ng-template #editTemplate>
                        <a (click)="editLookup(cotForm2.value.id, lkp)">Edit</a>
                    </ng-template>
                </div>                    
                <div *ngFor="let lkp of otherLookups">
                    <nz-card style="width: 550px; margin-top: 10px; background-color: #ededed;" [nzHoverable]="true" [nzBodyStyle]="{padding:'0px'}" nzTitle="{{lookups[lkp.id]}}" [nzExtra]="addTemplate">
                    </nz-card>
                    <ng-template #addTemplate>
                        <a (click)="openDrawer('lookup', lkp)">Enable</a>
                    </ng-template>    
                </div>
            </div>
            
            

            <div class="drawer-footer">
				<button type="button" (click)="closeDrawer()" class="ant-btn" style="margin-right: 8px;"><span>Cancel</span></button>
				<button nz-button [nzType]="'primary'" [disabled]="cotForm2.invalid" [nzLoading]="isLoading"><span>Save</span></button>
			</div>
        </form>
    </nz-drawer>
    <nz-modal [(nzVisible)]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible = false">
        <ng-template #modalContent>
          <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
        </ng-template>
    </nz-modal>

    <nz-modal [(nzVisible)]="lookupModal" [nzTitle]="modalTitle" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzContent]="editContent" (nzOnCancel)="lookupModal = false">
        <ng-template #modalTitle>{{lookups[lookupData.lkp.lookup_parent]}}</ng-template>
        <ng-template #editContent>
            <div nz-col nzXs="24" nzMd="24" *ngFor="let opt of lookupData.lkp.options">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" >{{lookups[opt.lookup_option]}}</nz-form-label>
                    <nz-form-control [nzSm]="18" [nzXs]="24" *ngIf="opt.lookup_slug != 'ATTACHMENT'">
                        <input [(ngModel)]="opt.value">
                    </nz-form-control>
                    <div *ngIf="opt.lookup_slug == 'ATTACHMENT'" style="display: inline-flex;">
                        <div *ngFor="let img of opt.value" style="margin: 2px;">
                            <img src="{{img}}" width="100" />
                        </div>
                    </div>
                </nz-form-item>    
            </div>
        </ng-template>
        <ng-template #modalFooter>
            <a
                nz-popconfirm
                nzPopconfirmTitle="Are you sure?"
                nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="deleteLookup(lookupData)"
                nzOkText="Yes" style="float: left; color: red;">
                Delete
            </a>
            <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isLoading">Save</button>
        </ng-template>
    </nz-modal>
</app-layout>


