<app-layout>
  <nz-page-header nzTitle="">
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item><a routerLink="/dashboard"><i nz-icon nzType="home"></i></a></nz-breadcrumb-item>
      <nz-breadcrumb-item>Data Collection Jobs</nz-breadcrumb-item>
    </nz-breadcrumb>
  </nz-page-header>

  <div nz-row class="mb-1">
    <div nz-col nzSpan="6">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input type="text" nz-input placeholder="Search job" [(ngModel)]="searchValue">
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch (click)="search()"><i nz-icon nzType="search"></i></button>
        <button nz-button nzType="default" (click)="reset()" nz-tooltip nzTooltipTitle="Reset"
          nzTooltipPlacement="top"><i nz-icon nzType="reload"></i></button>
      </ng-template>
    </div>
    <div nz-col nzSpan="18" class="text-right">
      <button nz-button [nzType]="'primary'" (click)="openDrawer('add')"><i nz-icon [nzType]="'plus'"></i> Add New Job
        Collection</button>
    </div>
  </div>

  <div nz-row class="mb-3" nzGutter="24">
    <div nz-col nzXs="24" nzSm="24" nzLg="24">
      <!-- <nz-card> -->
      <nz-spin [nzSpinning]="isLoading">
        <nz-table #basicTable [nzData]="jobs" nzSize="small" [nzBordered]="true">
          <thead nzShowSizeChanger nzShowPagination>
            <tr>
              <th>Job name</th>
              <th>Job desc.</th>
              <th nzWidth="100px">Start date</th>
              <th nzWidth="100px">End date</th>
              <th>Active</th>
              <th>Job lead</th>
              <th>Members</th>
              <th>Targets</th>
              <th nzWidth="100px">Created date</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td>{{data?.collectionName}}</td>
              <td>{{data?.description}}</td>
              <td>{{data?.startDate | date: 'dd-MM-yyyy'}}</td>
              <td>{{data?.endDate | date: 'dd-MM-yyyy'}}</td>
              <td>
                <nz-tag *ngIf="data?.active" [nzColor]="'success'">YES</nz-tag>
                <nz-tag *ngIf="!data?.active" [nzColor]="'error'">NO</nz-tag>
              </td>
              <td><span *ngIf="data.lead">{{data?.lead?.firstName + ' ' + data?.lead?.lastName + ' (' +data.lead?.userName+ ')' }}</span></td>
              <td>
                <nz-tag *ngFor="let mem of data.members" [nzColor]="'default'">{{ mem.firstName + ' ' + mem.lastName}}
                <!-- <nz-tag *ngFor="let mem of data.members" [nzColor]="'default'">{{ mem.firstName + ' ' + mem.lastName }} -->
                </nz-tag>
              </td>
              <td>YES</td>
              <td>{{data?.createdAt | date: 'dd-MM-yyyy'}}</td>
              <td>
                <button nz-button nz-dropdown [nzDropdownMenu]="menu"
                  nzPlacement="bottomRight">
                  Action
                  <i nz-icon nzType="down"></i>
                </button>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu>
                    <li nz-menu-item (click)="openDrawer('add_member', data)">Add Member</li>
                    <li nz-menu-item (click)="openDrawer('edit_job', data)">Edit Job</li>
                    <li nz-menu-item (click)="showModal(data)">Delete Job</li>
                  </ul>
                </nz-dropdown-menu>
              </td>
            </tr>
          </tbody>
        </nz-table>
        <nz-modal
          [(nzVisible)]="isVisible"
          nzTitle="Delete Job"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()"
          [nzOkLoading]="isOkLoading"
        >
          <p>Are you sure you want to Delete this Job ?</p>
        </nz-modal>
      </nz-spin>
      <!-- </nz-card> -->
    </div>
  </div>

  <nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
    [nzMaskClosable]="false" [nzWidth]="500" [nzVisible]="visible" [nzTitle]="formTitle" (nzOnClose)="closeDrawer()">
    <form nz-form [formGroup]="cotForm" (ngSubmit)="submitForm()" *ngIf="formAction=='add'">
      <div nz-row nzGutter="8">
        <div nz-col nzXs="24" nzMd="24">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="collectionName">Job Name</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Job Name is required!">
              <input type="text" nz-input formControlName="collectionName" placeholder="Job Name *">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="24">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="description">Job Description</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Job Description is required!">
              <input type="text" nz-input formControlName="description" placeholder="Job Description *">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="24">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Job Duration</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Please select Job Duration!">
              <nz-range-picker formControlName="rangePicker"></nz-range-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="24">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="lead">Job Lead</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Please select Job Lead!">
              <nz-select formControlName="lead" [nzPlaceHolder]="'Select Job Lead'">
                <nz-option *ngFor="let sup of superCapturer" [nzLabel]="sup.userName" [nzValue]="sup._id"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="24">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="formTargets">Form Targets</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
              <nz-input-number formControlName="formTargets" [nzMin]="1" [nzStep]="1"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="24">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="geopointTargets">Geopoint Targets</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
              <nz-input-number formControlName="geopointTargets" [nzMin]="1" [nzStep]="1"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="24">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="audioTargets">Audio Targets</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
              <nz-input-number formControlName="audioTargets" [nzMin]="1" [nzStep]="1"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="24">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="imageTargets">Image Targets</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
              <nz-input-number formControlName="imageTargets" [nzMin]="1" [nzStep]="1"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="24">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="videoTargets">Video Targets</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
              <nz-input-number formControlName="videoTargets" [nzMin]="1" [nzStep]="1"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div class="drawer-footer">
        <button type="button" (click)="closeDrawer()" class="ant-btn"
          style="margin-right: 8px;"><span>Cancel</span></button>
        <button nz-button [nzType]="'primary'" [disabled]="cotForm.invalid"
          [nzLoading]="isLoading"><span>Save</span></button>
      </div>
    </form>

    <!-- Edit Job -->
    <form nz-form [formGroup]="cotForm3" (ngSubmit)="editJob()" *ngIf="formAction=='edit_job'">
      <div nz-row nzGutter="8">
        <div nz-col nzXs="24" nzMd="24">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="collectionName">Job Name</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Job Name is required!">
              <input type="text" nz-input formControlName="collectionName" placeholder="Job Name *">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="24">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="description">Job Description</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Job Description is required!">
              <input type="text" nz-input formControlName="description" placeholder="Job Description *">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="24">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Job Duration</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Please select Job Duration!">
              <nz-range-picker formControlName="rangePicker"></nz-range-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="24">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="lead">Job Lead</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Please select Job Lead!">
              <nz-select formControlName="lead" [nzPlaceHolder]="'Select Job Lead'">
                <nz-option *ngFor="let sup of superCapturer" [nzLabel]="sup.userName" [nzValue]="sup._id"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="24">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="formTargets">Form Targets</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
              <nz-input-number formControlName="formTargets" [nzMin]="1" [nzStep]="1"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="24">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="geopointTargets">Geopoint Targets</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
              <nz-input-number formControlName="geopointTargets" [nzMin]="1" [nzStep]="1"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="24">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="audioTargets">Audio Targets</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
              <nz-input-number formControlName="audioTargets" [nzMin]="1" [nzStep]="1"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="24">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="imageTargets">Image Targets</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
              <nz-input-number formControlName="imageTargets" [nzMin]="1" [nzStep]="1"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="24">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="videoTargets">Video Targets</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
              <nz-input-number formControlName="videoTargets" [nzMin]="1" [nzStep]="1"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div class="drawer-footer">
        <button type="button" (click)="closeDrawer()" class="ant-btn"
          style="margin-right: 8px;"><span>Cancel</span></button>
        <button nz-button [nzType]="'primary'" [disabled]="cotForm3.invalid"
          [nzLoading]="isLoading"><span>Save</span></button>
      </div>
    </form>

    <!-- Add Member -->
    <form nz-form [formGroup]="cotForm2" (ngSubmit)="addMember()" *ngIf="formAction=='add_member'">
      <div nz-row nzGutter="8">
        <div nz-col nzXs="24" nzMd="24">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="lead">Group Members</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Please select Group Member!">
              <nz-select formControlName="userId" [nzPlaceHolder]="'Select Group Member'">
                <nz-option *ngFor="let dat of dataCapturer" [nzLabel]="dat.userName" [nzValue]="dat._id"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="24">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="formTargets">Form Targets</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
              <nz-input-number formControlName="formTargets" [nzMin]="1" [nzStep]="1"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="24">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="geopointTargets">Geopoint Targets</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
              <nz-input-number formControlName="geopointTargets" [nzMin]="1" [nzStep]="1"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="24">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="audioTargets">Audio Targets</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
              <nz-input-number formControlName="audioTargets" [nzMin]="1" [nzStep]="1"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="24">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="imageTargets">Image Targets</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
              <nz-input-number formControlName="imageTargets" [nzMin]="1" [nzStep]="1"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="24">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="videoTargets">Video Targets</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
              <nz-input-number formControlName="videoTargets" [nzMin]="1" [nzStep]="1"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzMd="24">
          <nz-form-item>
            <nz-form-control [nzSm]="18" [nzXs]="24">
              <input type="hidden" nz-input formControlName="jobId">
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div class="drawer-footer">
        <button type="button" (click)="closeDrawer()" class="ant-btn"
          style="margin-right: 8px;"><span>Cancel</span></button>
        <button nz-button [nzType]="'primary'" [disabled]="cotForm2.invalid"
          [nzLoading]="isLoading"><span>Save</span></button>
      </div>
    </form>
  </nz-drawer>

</app-layout>
