<app-layout>
    <nz-page-header nzTitle="">
		<nz-breadcrumb nz-page-header-breadcrumb>
			<nz-breadcrumb-item><a routerLink="/dashboard"><i nz-icon nzType="home"></i></a></nz-breadcrumb-item>
			<nz-breadcrumb-item>Transactions</nz-breadcrumb-item>
		</nz-breadcrumb>
    </nz-page-header>

    <div nz-row class="mb-1">
        <div nz-col nzSpan="24">
            <form nz-form [formGroup]="searchForm" (ngSubmit)="submitSearch()">
                <div nz-col nzXs="8" nzMd="8">
                    <nz-form-item>
                        <nz-form-control [nzSm]="24" [nzXs]="24">
                        <nz-range-picker formControlName="rangePicker"></nz-range-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzXs="8" nzMd="8">
                    <nz-form-item>
                        <nz-form-control [nzSm]="12" [nzXs]="12" nzErrorTip="Please select Dealer!">
                            <nz-select nzShowSearch nzAllowClear formControlName="dealer" [nzPlaceHolder]="'Select Dealer'">
                                <nz-option *ngFor="let g of dealers" [nzLabel]="g.first_name + ' ' +g.last_name + ' - ID:' +  g.id" [nzValue]="g.id"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <button nz-button [nzType]="'primary'" [disabled]="searchForm.invalid" [nzLoading]="isLoading"><span>Search</span></button>
            </form>
        </div>
	</div>

    <div nz-row class="mb-3" nzGutter="24">
		<div nz-col nzXs="24" nzSm="24" nzLg="24">
            <!-- <nz-card> -->
                <nz-spin [nzSpinning]="isLoading">
                    <nz-table #basicTable [nzData]="users" nzSize="small" nzPageSize="25" [nzBordered]="true">
                        <thead nzShowSizeChanger nzShowPagination>
                            <tr>
                                <th>Dealer Name - CNIC</th>
                                <th>Shop/Business</th>
                                <th>Category</th>
                                <th>Month-year</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of basicTable.data">
                            <td>{{data?.first_name}} {{data?.last_name}} - {{data?.cnic_no}}</td>
                            <td>{{data?.shop_name}}</td>
                            <td>{{data?.category}}</td>
                            <td>{{data?.slot}}</td>
                            <td>{{data?.amount}}</td>
                            <td>{{data?.status}}</td>
                            <td>
                                <a (click)="openUserModal(data)">View</a>
                                <nz-divider nzType="vertical"></nz-divider>
                                <a *ngIf="data?.payable == true" (click)="openDrawer('pay', data)">Pay Now</a>
                            </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </nz-spin>
            <!-- </nz-card> -->
        </div>
    </div>

    <nz-drawer
      [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
      [nzMaskClosable]="false"
      [nzWidth]="formWidth"
      [nzVisible]="visible"
      [nzTitle]="formTitle"
      (nzOnClose)="closeDrawer()"
    >
        <form nz-form [formGroup]="cotForm" (ngSubmit)="submitForm()" *ngIf="formAction=='pay'">
            <div nz-row nzGutter="8">
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="dealer_id">Dealer ID.</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Dealer ID is required!">
                            <input type="text" nz-input formControlName="dealer_id" placeholder="Dealer ID *" [readonly]="true">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="amount">Amount.</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Amount is required!">
                            <input type="text" nz-input formControlName="amount" placeholder="Amount *" >
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="payment_slot">Payment Slot.</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Payment Slot is required!">
                            <input type="text" nz-input formControlName="payment_slot" placeholder="Payment Slot *" [readonly]="true">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzXs="24" nzMd="24">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="dealer_payment">Payment Proof</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24">
                            <nz-upload
                                nzAction="{{imageUploadURL}}"
                                [nzData]="uploadProfileCategory"
                                nzListType="picture-card"
                                [(nzFileList)]="fileList"
                                [nzShowButton]="fileList.length < 3"
                                [nzPreview]="handlePreview"
                                [nzBeforeUpload]="beforeUpload"
                                (nzChange)="handleChange($event)">
                            
                                <div>
                                <i nz-icon nzType="plus"></i>
                                <div style="margin-top: 8px">Upload</div>
                                </div>
                            </nz-upload>
                            <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible = false">
                                <ng-template #modalContent>
                                <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
                                </ng-template>
                            </nz-modal>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                
            </div>

            <div class="drawer-footer">
				<button type="button" (click)="closeDrawer()" class="ant-btn" style="margin-right: 8px;"><span>Cancel</span></button>
				<button nz-button [nzType]="'primary'" [disabled]="cotForm.invalid" [nzLoading]="isLoading"><span>Save</span></button>
			</div>
        </form>

    </nz-drawer>

    <nz-modal [(nzVisible)]="isUserVisible" [nzFooter]="null" [nzTitle]="modalTitle" (nzOnCancel)="handleCancel()" [nzWidth]="800">
		<nz-table #userTable [nzData]="userData" nzSize="small">
			<thead nzShowSizeChanger nzShowPagination>
				<tr>
                    <th>Recipient Name</th>
                    <th>CNIC</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Date</th>
                    <th>Attachement</th>
                </tr>
			</thead>
			<tbody>
				<tr *ngFor="let data of userData">
                    <td>{{data?.first_name}} {{data?.last_name}}</td>
                    <td>{{data?.cnic_no}}</td>
                    <td>{{data?.amount}}</td>
                    <td>{{data?.lookup_category}}</td>
                    <td>{{data?.created_at}}</td>
                    <td><span *ngFor="let img of data?.attachements"><img (click)="viewImage(img)" *ngIf="data?.attachements" width="75" height="50" [src]="img" /></span></td>
				</tr>
			</tbody>
		</nz-table>
    </nz-modal>
    <!-- <nz-modal [(nzVisible)]="isPaid" [nzFooter]="null" [nzTitle]="modalTitle" (nzOnCancel)="handleCancel()" [nzWidth]="800">
		<nz-table #userTable [nzData]="userData" nzSize="small">
			<thead nzShowSizeChanger nzShowPagination>
				<tr>
                    <th>Amount</th>
                    <th>Payment Month</th>
                    <th>Paid On</th>
                    <th>Attachement</th>
                </tr>
			</thead>
			<tbody>
				<tr *ngFor="let data of userData">
                    <td>{{data?.amount}}</td>
                    <td>{{data?.payment_slot}}</td>
                    <td>{{data?.created_at}}</td>
                    <td><span *ngFor="let img of data?.attachements"><img (click)="viewImage(img)" *ngIf="data?.attachements" width="75" height="50" [src]="img" /></span></td>
				</tr>
			</tbody>
		</nz-table>
	</nz-modal> -->

</app-layout>
